// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

.app {
  background-color: rgb(241, 235, 233);
  min-height: 100vh;
  padding-top: 0;
  display: flex;
  flex-direction: column;

  // header {
  //   font-size: 20px;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  //   padding-top: 40px;
  // }
}
.navbar-nav {
  background-color: rgb(99, 89, 89);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 50px;

  .logo {
    justify-content: flex-start;
    width: 400px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: bolder;

    .nav-link-row {
      width: 600px;
      a {
        color: rgb(250, 247, 247);
        text-decoration: none;
        justify-content: flex-end;
      }
    }
  }
  .nav-link {
    padding: 3px 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  .nav-link:hover {
    color: rgb(54, 51, 51);

    background: rgb(124, 92, 81);
    background: linear-gradient(
      0deg,
      rgba(124, 92, 81, 1) 0%,
      rgba(224, 179, 175, 1) 100%
    );
  }
}
ul {
  width: 1000px;
  margin: 0 calc(50% - 500px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  .textarea {
    width: 100px;
  }

  .column {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 80px;
    padding: 10px;
    background: rgb(124, 92, 81);
    background: linear-gradient(
      0deg,
      rgba(124, 92, 81, 1) 0%,
      rgba(224, 179, 175, 1) 100%
    );
    // border: 1px solid red;
    margin: 5px 10px;
    transition-property: height;
    transition-duration: 1s;
    color: white;
    border-radius: 5px;

    span {
      font-weight: bolder;
    }
    .description {
      display: block;
      width: 200px;
      height: 200px;
      opacity: 0;
    }
    .description:hover {
      display: block;
      position: absolute;
      opacity: 1;
      z-index: 9;
    }
  }
  .column:hover {
    display: block;
    height: 350px;
  }
}
button {
  width: 80px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}
.buttons {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  align-items: center;

  width: 100%;

  .btn-modal {
    background-color: rgb(92, 57, 6);
    color: rgb(255, 255, 255);
  }
  .btn-modal:hover {
    background-color: rgb(148, 131, 110);
    color: rgb(252, 252, 251);
  }

  .btn-delete {
    background-color: rgb(121, 95, 95);
    color: rgb(255, 255, 255);
  }
  .btn-delete:hover {
    background-color: rgb(128, 7, 7);
    color: rgb(252, 250, 250);
  }
}
.add,
.edit {
  width: 300px;
  // background-color: #fbefef;
  margin: 10px calc(50% - 200px);
  border: 3px solid rgb(221, 197, 197);
  box-shadow: 3px 3px 3px rgb(211, 203, 203);
  .create-title {
    text-align: center;
    border-bottom: 2px solid rgb(233, 219, 219);
  }

  .create-tab {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    .form-group {
      display: flex;
      flex-direction: column;
      background-color: rgb(250, 246, 248);

      padding: 5px;
      label {
        font-size: 18px;
        font-weight: bold;
        padding: 5px;
      }
      small {
        font-size: 13px;
      }
      small {
        font-style: italic;
      }
    }
  }
}

.arrows {
  svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
    &.up {
      transform: rotate(-90deg);
    }
    &.down {
      transform: rotate(90deg);
    }
  }
}
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background-color: rgba(58, 42, 29, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 20;
  .create-title {
    color: white;
  }
  .form-group {
    label {
      color: rgb(32, 17, 3);
      text-align: center;
    }
    input,
    textarea {
      background-color: rgba(58, 42, 29, 0.9);
      color: white;
      padding: 5px;
      border-radius: 5px;
      font-size: 17px;
    }
  }
}
